@font-face {
  font-family: "iconfont"; /* Project id 3658615 */
  src: url('//at.alicdn.com/t/c/font_3658615_8ombil5urqj.woff2?t=1686108121807') format('woff2'),
       url('//at.alicdn.com/t/c/font_3658615_8ombil5urqj.woff?t=1686108121807') format('woff'),
       url('//at.alicdn.com/t/c/font_3658615_8ombil5urqj.ttf?t=1686108121807') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haiguan1:before {
  content: "\e641";
}

.icon-wenhao1:before {
  content: "\e629";
}

.icon-juqianshou:before {
  content: "\e892";
}

.icon-tuihuochuzhan_o:before {
  content: "\eb5a";
}

.icon-pro-pack-deliver:before {
  content: "\e603";
}

.icon-pro-pack-canel:before {
  content: "\e604";
}

.icon-pro-pack-receipt:before {
  content: "\e605";
}

.icon-pro-mailing:before {
  content: "\e606";
}

.icon-pro-pack-wait:before {
  content: "\e608";
}

.icon-pro-pack-done:before {
  content: "\e60a";
}

.icon-pro-pack-deliver1:before {
  content: "\e60b";
}

.icon-16:before {
  content: "\e615";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-24gf-pauseSquare:before {
  content: "\ea81";
}

.icon-24gf-playSquare:before {
  content: "\ea88";
}

.icon-cuowu:before {
  content: "\e601";
}

.icon-wancheng:before {
  content: "\e625";
}

.icon-bianji:before {
  content: "\e61d";
}

.icon-jinggao:before {
  content: "\e64f";
}

.icon-dagou:before {
  content: "\e782";
}

.icon-kuang:before {
  content: "\e6a2";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-dianjitianjia:before {
  content: "\e664";
}

.icon-guanbi2fill:before {
  content: "\e724";
}

.icon-shuaxin:before {
  content: "\e80b";
}

.icon-jiahao:before {
  content: "\e628";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-hezuo:before {
  content: "\f2d4";
}

.icon-fenxiang-yimidida-:before {
  content: "\e676";
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-shipin:before {
  content: "\e662";
}

.icon-renshutongji:before {
  content: "\e623";
}

.icon-wenhao:before {
  content: "\e647";
}

.icon-shixinyuanxing:before {
  content: "\e607";
}

.icon-xuanzhongxuanzhong:before {
  content: "\e6c5";
}

.icon-31tishi:before {
  content: "\e600";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-shouye:before {
  content: "\f0ab";
}

.icon-shouye1:before {
  content: "\e62a";
}

.icon-A:before {
  content: "\e6f5";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-shouji1:before {
  content: "\e637";
}

.icon-yanzhengma:before {
  content: "\e609";
}
